target
log.roo
.project
.classpath
.settings
.springBeans
.DS_Store
.externalToolBuilders
*/src/main/webapp/WEB-INF/classes
*/src/main/webapp/atmospheregwt
*/src/main/gwt-unitCache
*/src/main/webapp/WEB-INF/deploy
.gwt